/* .flex {
    display: flex;
    flex-wrap: wrap;
} */

#list {
    display: flex;
      flex-direction: column;
      background-image: linear-gradient(to bottom, #F4DFCA, white);
      /* background-color: #F4DFCA; */
      align-self: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      align-items: center;
      justify-content: center;
}

#p1 {
    size: 50px;
}
#overlay {
    background: rgba(255, 255, 255, 0.1);
}

.modal, #overlay { 
    /* z-index: 1000; */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 100px;
}