#bcolor {
    background-color: whitesmoke;
    /* color: #462B45; */
}
/* #F4DFCA */

/* #logout {
    float: right;
    text-align: right;
}

#navbarNav li {
    display: inline-block;
}

#navbarNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
} */