body {
    margin: 0;
} 



.hero {
      display: flex;
      flex-direction: column;
      background-image: url("../assets/search.jpg");
      height: 100vh;
      align-self: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      align-items: center;
      justify-content: center; 
}

h2 {
      font-size: 3rem;
      font-weight: 500;
      color: whitesmoke;
}

        
/* .text {
      font-size: 1.4rem;
      text-align: center;
      color: white;
      
} */